@font-face {
  font-family: 'NewYorkSmall';
  src: url(./assets/fonts/NewYork/NewYorkSmall-Regular.ttf);
}
@font-face {
  font-family: 'newYorkExtraLarg';
  src: url(./assets/fonts/NewYork/NewYorkExtraLarge-Regular.ttf);
}
@font-face {
  font-family: 'newYorkMedium';
  src: url(./assets/fonts/NewYork/NewYorkMedium-Regular.ttf);
}
@font-face {
  font-family: 'SFMono';
  src: url(./assets/fonts/SFMono/SFMonoRegular.woff);
}
@font-face {
  font-family: 'SFProDisplay';
  src: url(./assets/fonts/SFProDisplay/SFPRODISPLAYREGULAR.OTF) format('truetype');
}
@font-face {
  font-family: 'SFProTextRegular';
  src: url(./assets/fonts/SFText/SF-Pro-Text-Light.otf) format('truetype');
}
@font-face {
  font-family: 'SFProTextBold';
  src: url(./assets/fonts/SFText/SF-Pro-Text-Heavy.otf) format('truetype');
}
body , #root{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'NewYorkSmall' ,'newYorkExtraLarg' ,'SFMono' ,'SFProDisplay' ,'SFProText' ;
  -webkit-font-smoothing: 'SFProText';
  -moz-osx-font-smoothing: 'SFProText';
}

code {
  font-family: 'NewYorkSmall' ,'newYorkExtraLarg' ,'SFMono' ,'SFProDisplay' ,'SFProText';
}
