@font-face {
  font-family: 'NewYorkSmall';
  src: url(./assets/fonts/NewYork/NewYorkSmall-Regular.ttf);
}
@font-face {
  font-family: 'newYorkExtraLarg';
  src: url(./assets/fonts/NewYork/NewYorkExtraLarge-Regular.ttf);
}
@font-face {
  font-family: 'SFMono';
  src: url(./assets/fonts/SFMono/SFMonoRegular.woff);
}
@font-face {
  font-family: 'SFProDisplay';
  src: url(./assets/fonts/SFProDisplay/SFPRODISPLAYREGULAR.OTF) format('truetype');
}
body , #root{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
